.signup-form{
    margin-top: 20vh;
    width: 40vw;
    height: 60vh;
    color: rgb(255, 141, 141);
    padding: 20px;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    gap : 20px;

}
.signup-form h3{
   text-align: center;
   font-weight: 800;
   font-size: 30px;

}

.signup-form input{
    height: 30px;
    margin: 0 20px;
    padding: 10px 20px;
    border: none;
    background-color: rgb(255, 220, 220);
    border-radius: 5px;
}
.signup-form input:hover{
    border: none;

}
.signup-form input:focus{
    border: none;

}
.signup-form button{
    height: auto;
    margin: 20px 20px;
    padding: 15px;
    border: none;
    background-color: rgb(240, 124, 124);
    border-radius: 5px;
}
.signup-form button:hover{
    background-color: rgb(240, 102, 102);
    transform: translateX(5px) translateY(-5px);
    transition: all 0.5s ease-in-out;
   
}
@media screen and (max-width: 600px){
    .signup-form{
        margin-top: 20vh;
        width: 90vw;
        height: 60vh;
    }
}
    
